
.item__text-container__inner-box { 
    padding-top: 60px;
    opacity: 0;
    transition: all 1s;

}

.carousel-textbox-move {
    padding-top: 0;
    opacity: 1; 
}


#home-bio-excerpt {
    img {
        position: relative;
        right: 60px;
        opacity: 0;
        transition: all 0.5s 0.25s ease-in-out;
    }
}

#home-bio-excerpt.in-view {
    img {
        position: relative;
        right: 0px;
        opacity: 1;
    }
}



//# fade in carousel on .active class

@keyframes fadeInItem {
    from { opacity: 0; }
    to { opacity: 1; }
}

//# rise up carousel caption text

@keyframes carouselCaptionRaise {
    from { top: 70%; opacity: 0; }
    to { top: 50%; opacity: 1}
}