.features-container {
    margin: ($spacing-base * 4) 0;
    background: $light-grey;

        @include mediaQ-max($bp-sm) {
            margin-bottom: 0;
    }
}

.feature__content {
    text-align: center;
    padding: ($spacing-lg * 2) $spacing-lg $spacing-lg $spacing-lg;
    margin-bottom: $spacing-base * 2;
    background: $light;

        @include mediaQ-min($bp-sm) {
            padding: $spacing-lg;
        }

    img {
        max-width: 90px;

            @include mediaQ-min($bp-md) {
                max-width: 120px;
        }
    }
}