.form-custom-1 {
    background: $dark-grey;
    color: $light;

    h2 {
        color: $light;
    }

    .form-control {
        background: $dark-grey;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid $primary-color;
        transition: border-bottom 0.2s;

        -webkit-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.3);
        box-shadow: inset 0px 1px 5px -1px rgba(0,0,0,0.3);

        &:focus {
            border-bottom: 2px solid $secondary-color;
        }
    }

    input {
        color: $light;
        font-weight: normal;
        letter-spacing: 1px;
    }

    label {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 2;
    }
    
    .contact-form__container__small-columns {
        @include mediaQ-min($bp-sm) {
            display: flex;
            justify-content: space-between;

            .form-group {
                width: 32%;
                display: inline-block;
            }
        }
    }
}

//# Form Style 2 - Curr. single blog post

.form-custom-2 {
    .form-control {
        background: $light-grey;
        border: 1px solid $mid-grey;
        border-radius: 0;
        box-shadow: none;
        padding: $spacing-base ($spacing-base * 2);
        font-weight: 300;
    }

    .btn {
        margin: $default-row-margin;
    }
}

//# Form style 3 - Curr. search box on 404 page

.form-custom-3 {
    @extend .form-custom-2;

        input {
            height: 44px;
        }

        .input-group {
            max-width: 400px;
        }

        .btn {
            @extend .btn-custom-4;
            margin: 0px;

                @include mediaQ-max($bp-sm) {
                    font-size: $font-size-base;
                }
        }
}