
.pagination-wrapper {
    padding-top: $spacing-base * 4;

    @include mediaQ-min($bp-sm) {
        padding-top: $spacing-base * 6;
    }
}

.pagination {

        .screen-reader-text {
            display: none;
        }

        .page-numbers {
            background: $primary-color;
            border-color: $primary-color;
            color: $light;
            margin: 0 $spacing-sm $spacing-sm 0;
            padding: $spacing-base $spacing-lg;
            border-radius: $spacing-xs;
            transition: all 0.5s;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 1px;
            border-radius: 0;


            &:hover,
            &:focus,
            &:active {
                background: $dark;
                border-color: $dark;
                color: $light;
            }
        }

        .current {
            background: $dark;
            border-color: $dark;
            color: $light;
        }

        .prev,
        .next {
            background: none;
            border-color: none;
            color: $dark;
            //font-size: $font-size-xxlg;

            &:hover,
            &:focus,
            &:active {
                background: $light;
                border-color: $light;
                color: $primary-color;
            }
        }

}