
/*
    This form is seen when using wordpress's get_search_form() tag.
*/

.search-form {

    .search-field {
        background: $light-grey;
        border: 1px solid $mid-grey;
        box-shadow: none;
        padding: 0 $spacing-base;
        font-weight: 300;
        height: 50px;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid $primary-color;
        transition: border-bottom 0.2s;
        outline: transparent;

            &:focus {
                border-bottom: 2px solid $secondary-color;
        }
    }

    .search-submit {
        padding: $spacing-base;
        height: 50px;
        color: $dark;
        background: $light-grey;
        border-radius: 0;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid $primary-color;
        outline: transparent;
        transition: color 0.25s;
        position: relative;
        right: 5px;

            &:hover,
            &:focus,
            &:active {
                color: $secondary-color;
                border-bottom: 2px solid $secondary-color;
        }
    }
}