
/*Comment Output*/

#page {

.comments-area {
    @extend .blog-post__comments-section;
}    

.comment-list .reply {}

.comment-list .reply a {}

 

.comment-list .alt {}

.comment-list .odd {}

.comment-list .even {}

.comment-list .thread-alt {}

.comment-list .thread-odd {}

.comment-list .thread-even {}

.comment-list li ul.children .alt {}

.comment-list li ul.children .odd {}

.comment-list li ul.children .even {}


.comment-list .vcard {
    display: inline;

    b, 
    span {
        @extend p;
    }

    b {
        @extend .text--color;
    }

    img {
        margin-right: $spacing-base;
        margin-bottom: $spacing-base * 2;
    }
}

.comment-list .vcard cite.fn {}

.comment-list .vcard span.says {}

.comment-list .vcard img.photo {}

.comment-list .vcard img.avatar {}

.comment-list .vcard cite.fn a.url {}

 

.comment-list .comment-meta {
    @extend .blog-post__meta;
}

.comment-list .comment-meta a {}

.comment-list .comment-metadata {
    @extend p;
    display: inline;
}

.comment-list .comment-metadata a {}

.comment-list .comment-body {
    @extend .comment-body__holder;
}

.comment-list .parent {}

.comment-list .comment {
    //padding: $spacing-base;
    position: relative;

}

.comment-list .comment-content {
    padding-right: $spacing-base * 2;
}

.comment-list .children {
    list-style: none;
}

.comment-list .pingback {}

.comment-list .bypostauthor {}

.comment-list .comment-author {}

.comment-list .comment-author-admin {}

 

.comment-list {
    list-style: none;
}

.comment-list li {}

.comment-list li p {}

.comment-list li ol {
    //background: rgba($light-grey, 0.9);
}

.comment-list li ol.children li {

}

.comment-list li ul.children li.alt {}

.comment-list li ul.children li.byuser {}

.comment-list li ol.children li.comment {

}



.comment-list li ul.children li.bypostauthor {}

.comment-list li ul.children li.comment-author-admin {}

 

#cancel-comment-reply {}

#cancel-comment-reply a {}


.reply {
    @extend .comment-reply;
}

}