
/*
    This form is seen when using wordpress's get_search_form() tag.

    * And the search field seen in wordpress's default search widget.
*/

.search-form {
    position: relative;

    .search-field {
        background: $light-grey;
        border: 1px solid $mid-grey;
        box-shadow: none;
        padding: 0 $spacing-base;
        font-weight: 300;
        height: 50px;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid $primary-color;
        transition: border-bottom 0.2s;
        outline: transparent;
        width: 100%;

            &:focus {
                border-bottom: 2px solid $secondary-color;
        }
    }

    .search-submit {
        position: absolute;
        top: 0;
        right: 0;
        padding: $spacing-base;
        height: 50px;
        color: $dark;
        background: $light-grey;
        border-radius: 0;
        box-shadow: none;
        border: none;
        border-bottom: 2px solid $primary-color;
        outline: transparent;
        transition: color 0.25s;


            &:hover,
            &:focus,
            &:active {
                color: $secondary-color;
                border-bottom: 2px solid $secondary-color;
        }
    }
}