.widget {

    a {
        @extend p;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        @extend p;
    }

    span {
        @extend p;
        color: $primary-color;
    }

}

.widget_search {
    
    .search-field {

    }

    .search-submit {

    }
}