
/*Comment Output*/

#page {

.comments-area {
    @extend .blog-post__comments-section;
}    

.comment-list .vcard {
    display: inline;

    b, 
    span {
        @extend p;
    }

    b {
        @extend .text-color;
    }

    img {
        margin-right: $spacing-base;
        margin-bottom: $spacing-base * 2;
    }
}

.comment-list .comment-meta {
    @extend .blog-post__meta;
}

.comment-list .comment-metadata {
    @extend p;
    display: inline;
}

.comment-list .comment-body {
    @extend .comment-body__holder;
}

.comment-list .comment {
    position: relative;

}

.comment-list .comment-content {
    padding-right: $spacing-base * 2;
}

.comment-list .children {
    list-style: none;
}

.comment-list {
    list-style: none;
}

.reply {
    @extend .comment-reply;
}

}