
footer {

    .nav {

        li {

            @include mediaQ-min($bp-sm) {
                float: right;
            }
        }
    }
}

.footer__copyright {
    color: $mid-grey;
    margin: 0;
    padding: $spacing-base;
    display: block;
}

.footer__widget-area {

    .widget_meta {

            h2 {
                display: hidden;
            }

            li {
                font-size: $font-size-base;
                margin: 0;
            }
    }
}
