//# These are seen in the Portfolio posts seen on the front-page.php 

.port-gallery__item {
    margin: $portfolio-post-row-margin;

}

.port-gallery__item__text {
    h4 {
        margin: $portfolio-post-row-margin; 
    }

    p {
        padding: 0;
        margin: $portfolio-post-row-margin;
    }
}